# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/out-tsc
/.angular
# Only exists if Bazel was run
# dependencies
/node_modules

# profiling files
# IDEs and editors
/.idea
# IDE - VSCode
.vscode
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# misc
# System Files
404.html
angular.json
karma.conf.js
package.json
package-lock.json
README.md
server.js
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
