mat-card {
  margin: 0 auto;
  width: min(70rem, 100%);

  &-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    min-height: 10rem;
    width: 100%;
  }
}

.accordion {
  width: 100%;

  & .mat-expansion-panel-header-description {
    align-items: center;
    justify-content: flex-end;
  }

  & .mat-expansion-panel-header-title {
    align-items: center;
    font-size: 1.25rem;
    gap: 1rem;
    justify-content: flex-start;
    width: calc(100% - 1rem);

    & > mat-icon {
      flex-basis: 2rem;
      flex-shrink: 0;
    }

    & > span {
      flex-basis: 0;
      flex-shrink: 1;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: rgba(255, 255, 255, 0.05);
}

tr.element-row:not(.expanded-row):active {
  background: rgba(255, 255, 255, 0.05);
}

.element-row td {
  border-bottom-width: 0;
}

.detail-content {
}

td.mat-column-expand {
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}

td.mat-cell:not(td.mat-column-expand) {
  text-align: center;
}
