:host {
  width: 100%;
  display: block;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(55, 55, 55) rgb(66, 66, 66);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgb(66, 66, 66);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgb(77, 77, 77);
}

*::-webkit-scrollbar-track:active {
  background-color: rgb(77, 77, 77);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(55, 55, 55);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(44, 44, 44);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(44, 44, 44);
}

.loader {
  margin: 2rem auto;
  display: inline-block;
}

.table-container {
  overflow: auto;
  margin: 1rem auto;
  width: 100%;
  max-width: 63rem;
  max-height: 40rem;
}

table {
  border-radius: 3px;
}

th.mat-mdc-header-cell {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0 .5rem;
}

td.mat-mdc-cell {
  text-align: center;
  font-size: 0.75rem;
  min-width: 2rem;
  padding: 0 .5rem;
}

th.cdk-column-jump1,
th.cdk-column-jump2,
th.cdk-column-jump_1-rank,
td.cdk-column-jump_1-rank,
th.cdk-column-jump_2-rank,
td.cdk-column-jump_2-rank {
  border-right: rgba(255, 255, 255, 0.12) solid 1px;
}


th.cdk-column-jump1,
th.cdk-column-jump_1-distance,
td.cdk-column-jump_1-distance {
  border-left: rgba(255, 255, 255, 0.12) solid 1px;
}

td.mat-column-rank,
td.mat-column-bib {
  width: 2rem;
}

.mat-icon {
  height: 1.125rem;
}
