.multi-races-form {
  width: min(40rem, 100%);
  padding: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  &-controls {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
  }

  &-group {
    display: flex;
    gap: .5rem;
    flex-direction: column;

    & + & {
      margin-block: .5rem;
    }
  }

  &-submit {
    margin-top: 3rem;
  }
}

mat-suffix {
  max-height: 2rem;
}
