<mat-sidenav-container class="container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <p *ngFor="let link of navLinks"><button mat-button (click)="close()" [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="mat-toolbar-content">
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>FIS Scraper</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
