<mat-sidenav-container class="container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <h2 class="app-menu-title">Menu:</h2>
    <p *ngFor="let link of navLinks"><button mat-raised-button color="primary" (click)="close()" [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="mat-toolbar-content">
        <button mat-icon-button (click)="sidenav.open()" matTooltip="Open menu">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-title">FIS Scraper</h1>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-notifications></app-notifications>
  </mat-sidenav-content>
</mat-sidenav-container>
