<mat-sidenav-container class="container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <p><button mat-button (click)="close()">Scraper</button></p>
    <p><button mat-button (click)="close()">Archive</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>FIS Scraper</span>
      <router-outlet></router-outlet>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
