.container {
  position: absolute;
  inset: 0;
}

.loading {

  &-spinner {
    display: block;
    width: 100vw;
    height: 100vh;

  }

  &-text {
    color: black;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mat-sidenav {
  width: min(15rem, 100%);
  padding: 2rem 1rem;

  & button {
    font-size: 1.250rem;
    font-weight: 700;
    width: 100%;
    padding: .5rem 1rem;
  }
}

router-outlet {
  padding: 1rem;
}


.title {
  position: sticky;
  top: 0;
  z-index: 1000;

  &-content{
    margin: 0 auto;
    width: 100%;
    max-width: 70rem;
    display: flex;
    align-items: center;
  }
}


.menu-content {
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
  display: flex;
  align-items: flex-start;
}

.app-title {
  margin: 0 auto;
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
}

.app-menu-title {
  font-weight: 700;
  font-size: 1.75rem;
}
