<mat-card>
  <mat-card-subtitle>
    <div *ngIf="file.fis_id">
      {{ file.fis_id }}
    </div>
    <div class="file-icon" *ngIf="file.name">
      <mat-icon *ngIf="file.name.slice(file.name.length - 4).toUpperCase() === '.ZIP'; else regularIcon">
        folder_special
      </mat-icon>
      <ng-template #regularIcon>
        <mat-icon>
          description
        </mat-icon>
      </ng-template>
      {{ file.name.slice(file.name.length - 4).toUpperCase() }}
    </div>
  </mat-card-subtitle>
  <mat-card-title>{{ file.name }}</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-button>
      DOWNLOAD
      <mat-icon>save_alt</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer [ngSwitch]="file.status">
    <div *ngSwitchCase="'in_progress'">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <div *ngSwitchCase="'success'">
      <mat-progress-bar mode="determinate" [value]="100" color="accent"></mat-progress-bar>
    </div>
    <div *ngSwitchCase="'error'">
      <mat-progress-bar mode="determinate" [value]="100" color="warn"></mat-progress-bar>
    </div>
    <div *ngSwitchDefault>
      <mat-progress-bar mode="determinate" [value]="100"></mat-progress-bar>
    </div>
  </mat-card-footer>
</mat-card>
