<mat-card>
  <mat-card-subtitle>
    <mat-icon>folder</mat-icon>
    FOLDER
  </mat-card-subtitle>
  <mat-card-title>
    {{ folder.name }}
  </mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-button (click)="download()" [matTooltip]="'Download ' + folder.name + ' folder as .zip file'">
      <mat-icon>save_alt</mat-icon>
      DOWNLOAD
    </button>
    <button mat-button [routerLink]="folder.name" [matTooltip]="'Open ' + folder.name + ' folder.'">
      <mat-icon>folder_open</mat-icon>
      OPEN
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="download$ | async as download"
                      [mode]="download.state === 'PENDING' ? 'buffer' : 'determinate'"
                      [value]="download.progress"
                      [color]="download.state === 'DONE' || download.state === 'IN_PROGRES' ? 'accent' : 'warn'">
    </mat-progress-bar>
  </mat-card-footer>
</mat-card>
