body,
html {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(44, 44, 44) rgb(77, 77, 77);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(77, 77, 77);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgb(88, 88, 88);
}

*::-webkit-scrollbar-track:active {
  background-color: rgb(88, 88, 88);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(33, 33, 33);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(33, 33, 33);
}

.mat-menu-panel {
  max-width: none !important;
  width: max-content;
  padding: 1rem;
  max-height: 70vh;
}

.mat-menu-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
