:host {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 500ms ease-in-out;
  width: 100%;
}

.spinner {
  position: relative;

  &-label {
    align-items: center;
    display: inline-flex;
    inset: 0;
    justify-content: center;
    position: absolute;
  }
}
